@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("/fonts/ttcommons-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 800;
  font-display: optional;
  src: url("/fonts/ttcommons-extrabold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("/fonts/ttcommons-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url("/fonts/ttcommons-demibold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url("/fonts/ttcommons-medium-webfont.woff2") format("woff2");
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}
